* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.connect__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signData__container {
  margin-top: 20px;
}

.units {
  margin-top: 20px;
}

.units > p {
  margin-top: 10px;
}

.transactionTest {
  margin-top: 20px;
}
